decimal
json
mimetypes
os
threading
zipfile
urllib
datetime
argparse
logging
sys
time
uuid
requests
pkg_requests
random
tweepy
cfnresponse
argcomplete
aws-xray-sdk
boto3
botocore
certifi
cfn-flip
chardet
click
docutils
durationpy
flask
future
hjson
idna
itsdangerous
jinja2
jmespath
jsonpickle
kappa
lambda-packages
markupsafe
placebo
python-dateutil 
python-slugify
pyyaml
s3transfer
six
toml
tqdm
troposphere
unidecode
urllib3
werkzeug
wheel
wrapt
wsgi-request-logger
zappa
